<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage

    let traitTypes = Array.from(new Set(attributeReport.map( at => at.traitType)))


    const link = (href) => {
        return `${baseURL + href}`
    }   

    let logo = link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`)



    const absoluteLink = (href) => {
      return `${hostname + baseURL + href}`
    }   

    
    const escapeExcerpt = (excerpt) => {
      excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
      return it.baseViewModel.he.encode(excerpt.toString())
    }



%>

<!DOCTYPE html>
<html>

  <head>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
      <%= it.title %> Attribute Report
    </title>

    <meta property="og:title" content="<%=channelViewModel.channel.title%> Attribute Report" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= link(`attributes.html`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`attributes.html`) %>" />
    <meta property="twitter:title" content="<%=channelViewModel.channel.title%> Attribute Report" />
    <meta property="twitter:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%~ it.baseViewModel.headContents %>
    

  </head>

  <body>

    <div id="app">

      <div class="view view-main">



        <div class="page" data-name="home">

          <nav-bar
              logo="<%=logo%>"
              title="<%=channelViewModel.channel.title%>"
              show_mint_page="<%=showMintPage%>"
          >
          </nav-bar>


          <div class="page-content">

            <div class="row">

              <div class="col-100 large-75 center">
                
                <div class="block-title block-title-medium">Attribute Report</div>
                <div class="card scarcity-report-card data-table">

                  <div class="card-content">
                        <% for (let traitType of traitTypes) { 
                          let attributeTotals = attributeReport.filter( at => at.traitType == traitType)
                        %>      
                        <table>
                          <thead>
                            <tr>
                              <th class="label-cell"><%= traitType %></th>
                              <th class="numeric-cell">Count</th>
                              <th class="numeric-cell">Percent</th>
                            </tr>
                          </thead>

                          <tbody>

                          <%
                          for (let at of attributeTotals) {    
                          %>      
                            <tr>
                              <td class="label-cell"><%= at.value %></td> 
                              <td class="numeric-cell"><%= at.count %></td>
                              <td class="numeric-cell"><%= at.categoryPercent %></td>

                            </tr>
                          <% 
                          }
                          %>

                          </tbody>
                        </table>

                        <%
                          } 
                        %>


                  </div>
                </div>

            
                <div class="block">
                  <br />
                </div>

              </div>
              
            </div>

          </div>

        </div>

      </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>
    
    <script type="module" id="page-init-scripts">

      const init = (props, { $, $f7, $h, $on, $update }) => {
              
            let itemWebService = globalThis.container.get("ItemWebService")


            $on('pageInit', async () => {

            })

            $on('pageBeforeOut', async () => {
            })

          
            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=channelViewModel.channel.title%> Attribute Report")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`attributes.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`attributes.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=channelViewModel.channel.title%> Attribute Report")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" )

            document.querySelector('title').innerHTML = "<%=channelViewModel.channel.title%> Attribute Report"

            $f7.preloader.hide()

            return $render;

          

      }


    </script>

    <script type="module" id="page-scripts">

      let baseURL = '<%= baseURL %>'
      let hostname = '<%= hostname %>'
      let channelId = '<%= channelId %>'
      let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')

      let routablePages = JSON.parse(`<%~ JSON.stringify(routablePages) %>`)

      let app = reader.initReader(baseURL, hostname, version, routablePages, channelId )



    </script>

  </body>

</html>