<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let staticPage = it.staticPage


    const link = (href) => {
        return `${baseURL + href}`
    }    

    let logo = link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`)


    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
        return it.baseViewModel.he.encode(excerpt.toString())
    }

%>


<!DOCTYPE html>
<html>

<head>
    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
        <%= staticPage.name %>
    </title>
  
    <meta property="og:title" content="<%=staticPage.name%>" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="<%= link(`${staticPage.slug}.html`) %>" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="<%= escapeExcerpt(staticPage.contentHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`${staticPage.slug}.html`) %>" />
    <meta property="twitter:title" content="<%= staticPage.name %>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(staticPage.contentHTML)%>" />
    <meta property="twitter:image" content="" />

    <%~ it.baseViewModel.headContents %>
    
</head>

<body>

    <div id="app">
        <div class="view view-main">
            <div class="page" data-name="static-page-<%=staticPage._id %>">

                <nav-bar
                    logo="<%=logo%>"
                    title="<%=staticPage.name%>"
                    show_mint_page="<%=showMintPage%>"
                >
                </nav-bar>

                <div class="page-content">

                    <div class="row">

                        <div class="col-100 large-66 center">
                            <div class="card">
                                <div class="card-content card-content-padding">
                                    <%~ staticPage.contentHTML %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <%~ it.baseViewModel.bodyContents %>

    <script type="module" id="page-init-scripts">    

        const init = (props, { $, $f7, $h, $on, $update }) => {
            
            let owner
            
            $on('pageInit', async () => {
            })          

            $on('pageBeforeOut', async () => {
            })


            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=staticPage.name %>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`${staticPage.slug}.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(staticPage.contentHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`${staticPage.slug}.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=staticPage.name%>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(staticPage.contentHTML)%>" )

            document.querySelector('title').innerHTML = "<%= staticPage.name %>"

            $f7.preloader.hide()

            return $render;

        }


    </script>

    <script type="module" id="page-scripts">

        let baseURL = '<%= baseURL %>'
        let hostname = '<%= hostname %>'
        let channelId = '<%= channelId %>'
        let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')

        let routablePages = JSON.parse(`<%~ JSON.stringify(routablePages) %>`)
        let app = reader.initReader(baseURL, hostname, version, routablePages, channelId )



    </script>

</body>

</html>