<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let itemViewModel = it.itemViewModel


    const link = (href) => {
        return `${baseURL + href}`
    }    

    let logo = link(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`)

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   

    const escapeExcerpt = (excerpt) => {
        excerpt = it.baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
        return it.baseViewModel.he.encode(excerpt.toString())
    }

    const marketplaceAssetLink = (marketplace, tokenId) => {

        let link = marketplace.assetLink 
  
        //Replace contract if we find it 
        if (channelViewModel.channel.contractAddress) {
          link = link.replace("{contractId}", channelViewModel.channel.contractAddress)
        }
  
        if (tokenId) {
          link = link.replace("{tokenId}", tokenId)
  
        }
  
        return link
    }
    

    let coverImageLink = itemViewModel.coverImage ? absoluteLink(`backup/${itemViewModel.coverImage.generated ? 'generated' : 'export'}/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'png' : 'jpg'}`)  : ''

    let owner

%>


<!DOCTYPE html>
<html>

<head>
    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title><%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %></title>

    <meta property="og:title" content="<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="<%= coverImageLink %>" />
    <meta property="og:description" content="<%= escapeExcerpt(itemViewModel.contentHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(itemViewModel.contentHTML) %>" />
    <meta property="twitter:image" content="<%= coverImageLink %>" />
    
    <%~ it.baseViewModel.headContents %>

</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="token-<%=itemViewModel.item._id %>">

                <nav-bar
                    logo="<%=logo%>"
                    title="<%=channelViewModel.channel.title%>"
                    show_mint_page="<%=showMintPage%>"
                >
                </nav-bar>

                <token-toolbar
                    token_id="<%= itemViewModel.item.tokenId %>"
                    item_count="<%= channelViewModel.channel.itemCount %>" 
                >
                </token-toolbar>

                
                <!-- <div class="fab fab-left-center color-white">
                    <a href="<%= itemViewModel.item.tokenId == 1 ? link(`index.html`) : link(`t/${itemViewModel.item.previous.tokenId}`) %>">
                        <i class="icon f7-icons color-blue">arrow_left</i>
                    </a>
                </div>
    
                <% if (itemViewModel.item.tokenId < channelViewModel.channel.itemCount) { %>
                    <div class="fab fab-right-center color-white">
                        <a href="<%= link(`t/${itemViewModel.item.next.tokenId}`) %>" data-transition="f7-cover">
                            <i class="icon f7-icons color-blue">arrow_right</i>
                        </a>
                    </div>
                <% } %> -->

                
                <div class="page-content">

                    <div class="row">

                        <div class="col-100 large-75">
                            
                            <div class="block block-strong inset col-100 no-margin-bottom">
                                <div class="breadcrumbs ">
                                  <div class="breadcrumbs-item">
                                    <a href="<%=baseURL%>index.html" class="link">
                                      Home
                                    </a>
                                  </div>    
                                  <div class="breadcrumbs-separator"></div>
                                  <div class="breadcrumbs-item">
                                    <a href="<%=baseURL%>explore.html" class="link">
                                      Explore
                                    </a>
                                  </div>     
                                  <div class="breadcrumbs-separator"></div>
                                  <div class="breadcrumbs-item breadcrumbs-item-active">
                                    <%= itemViewModel.item.title ? itemViewModel.item.title : `#${itemViewModel.item.tokenId}` %> 
                                  </div> 
                                </div>
                            </div>




                            <div class="block animation-card col-100">

                                <div class="animation-content <%= itemViewModel.item.coverImageAsAnimation ? 'animation-image' : ''%>">

                                    <% if (itemViewModel.item.coverImageAsAnimation) { %>
                                        <img src="<%= link(`backup/export/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`) %>"  />
                                    <% } else { %>
                                        <%~itemViewModel.animationContentHTML %>
                                    <% } %>

                                </div>


                                <div class="row">

                                    <a class="button button-outline back-token-button margin-bottom col-50 color-gray" href="<%= itemViewModel.item.tokenId == 1 ? link(`index.html`) : link(`t/${itemViewModel.item.previous.tokenId}`) %>">
                                        <i class="icon f7-icons color-blue">arrow_left</i>
                                    </a>
    
    
                                    <% if (itemViewModel.item.next) { %>
                                        <a class="button button-fill continue-button margin-bottom col-50" href="<%= link(`t/${itemViewModel.item.next.tokenId}`) %>" data-transition="f7-cover">
                                            Continue <i class="f7-icons">arrow_right</i>
                                        </a>
                                    <% } %>
                                </div>


                            </div> 





                        </div>

                        <div class="col-100 large-25 token-sidebar">
                            
                            <% if (itemViewModel.channel.contractAddress) { %>
                                <nft-info id="<%= itemViewModel.item.tokenId %>" 
                                          owner="${owner}" 
                                          baseurl="<%= baseURL %>" 
                                          contract="<%= itemViewModel.channel.contractAddress %>">
                                </nft-info>
                            <% } %>


                            <% 
                            if (marketplaces?.length > 0) {
                            %>
                                <div class="card">
                                    <div class="card-header">
                                        View on Marketplaces
                                    </div>
                                    <div class="card-content">
                                        <div class="list simple-list">
                                            <ul>
                                            
                                            <% 
                                                for (let marketplace of marketplaces) { 
                                            %>  
                                                <li><a href="<%= marketplaceAssetLink(marketplace, itemViewModel.item.tokenId) %>" class="external"><%= marketplace.name %></a></li>     
                                            <%
                                                }
                                            %>
                        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <%
                                }
                            %>

                            <div class="card">
                                
                                <div class="card-header">
                                    Attributes
                                </div>

                                <div class="card-content data-table">
                    
                                    <% itemViewModel.attributeSelections?.map( (as)=> { %>

                                        <% if (as.attributeTotal?.categoryPercent) { %>
                                            <div class="button-outline attribute-value">
                                                <div class="trait-type"><%= as.traitType %></div>
                                                <div class="value"><%= as.value %></div>
                                                <div class="category-percent"><%= as.attributeTotal?.categoryPercent  %> have this trait</div>
                                            </div>                                                
                                        <% } %>


                                    <% }) %>

                                </div>

                            </div>

                            <% if (!itemViewModel.item.coverImageAsAnimation) { %>
                                <div class="card">
                                    <div class="card-header">Cover Image</div>
                                    <div class="card-content">
                                        <img src="<%= link(`backup/export/images/${itemViewModel.coverImage._id}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}`) %>" class="cover-image-preview" />
                                    </div>
                                </div>
                            <% } %>



                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>

    
    <script type="module" id="page-init-scripts">    

        const init = (props, { $, $f7, $h, $on, $update }) => {
            
            let tokenService = globalThis.container.get("TokenService")
            let readerSettingsService = globalThis.container.get("ReaderSettingsService")

            let baseURI = globalThis.container.get("baseURI")

            let owner

            $on('pageInit', async () => {

                await readerSettingsService.updateCurrentPage(parseInt(props.tokenId))

            })          

            $on('pageBeforeOut', async () => {
            })

            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`token-${itemViewModel.item._id}`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= coverImageLink %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(itemViewModel.contentHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`token-${itemViewModel.item._id}`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= coverImageLink %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(itemViewModel.contentHTML)%>" )

            document.querySelector('title').innerHTML = "<%= itemViewModel.item.title ? itemViewModel.item.title + ' / ' : '' %><%= itemViewModel.channel.title %> #<%= itemViewModel.item.tokenId %>"

            $f7.preloader.hide()

            return $render;

        }


    </script>

    <script type="module" id="page-scripts">

        let baseURL = '<%= baseURL %>'
        let hostname = '<%= hostname %>'
        let channelId = '<%= channelId %>'
        let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')

        let routablePages = JSON.parse(`<%~ JSON.stringify(routablePages) %>`)

        let app = reader.initReader(baseURL, hostname, version, routablePages, channelId )

    </script>

    

</body>

</html>